In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
614,tt0489099,85000000,222231186,Jumper,Hayden Christensen|Jamie Bell|Samuel L. Jackso...,Doug Liman,anywhere is possible.,"David Rice is a man who knows no boundaries, a...",88,Adventure|Fantasy|Science Fiction,Dune Entertainment|Hypnotic|New Regency Pictures,2/10/2008,5.9,2008
1462,tt0366548,100000000,384335608,Happy Feet,Lombardo Boyar|Robin Williams|Johnny A. Sanche...,George Miller,WARNING: May Cause Toe-Tapping.,"Into the world of the Emperor Penguins, who fi...",108,Music|Animation|Comedy|Family,Village Roadshow Pictures|Kennedy Miller Produ...,11/16/2006,5.8,2006
1472,tt0472043,40000000,120175290,Apocalypto,Rudy Youngblood|Dalia HernÃ¡ndez|Jonathan Brew...,Mel Gibson,"When the end comes, not everyone is ready to go","Set in the Mayan civilization, when a man's id...",139,Thriller|Action|Adventure|Drama,Icon Productions|Icon Entertainment Internatio...,12/7/2006,7.1,2006
1145,tt0301470,17000000,63102666,Jeepers Creepers 2,Ray Wise|Jonathan Breck|Garikayi Mutambirwa|Er...,Victor Salva,He can taste your fear.,After 23 horrifying days of gorging on human f...,104,Horror|Thriller,United Artists|American Zoetrope|Myriad Pictur...,8/8/2003,5.4,2003
1582,tt0369339,65000000,217764291,Collateral,Tom Cruise|Jamie Foxx|Jada Pinkett Smith|Mark ...,Michael Mann,It started like any other night.,Cab driver Max picks up a man who offers him $...,120,Drama|Crime|Thriller,Paramount Pictures|DreamWorks SKG|Parkes/MacDo...,8/4/2004,6.7,2004

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {}    # Dictionary for answers

# Add column 'profit':
data['profit'] = data.apply(lambda row: row.revenue - row.budget, axis=1)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# Add answer in the dictionary
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# correct

In [6]:
data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# Add answer in the dictionary
answers['2'] = '2. Gods and Generals (tt0279111)'
# correct

In [9]:
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
# Add answer in the dictionary
answers['3'] = '3. Winnie the Pooh (tt1449283)'
# correct

In [11]:
data[data.runtime == data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [12]:
# Add answer in the dictionary
answers['4'] = '2. 110'
# correct

In [13]:
# As the answers are represented as integers, let's round the resulting value
round(data.runtime.mean(), 0)

110.0

ВАРИАНТ 2

In [14]:
# For this dataframe we can find out the desired value by the command data.describe()
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# 5. Каково медианное значение длительности фильмов?

In [15]:
# Add answer in the dictionary
answers['5'] = '1. 107'
# correct

In [16]:
# As the answers are represented as integers, let's round the resulting value
round(data.runtime.median(), 0)

107.0

ВАРИАНТ 2

In [17]:
# For this dataframe we can find out the desired value by the command data.describe()
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [18]:
# Add answer in the dictionary
answers['6'] = '5. Avatar (tt0499549)'
# correct

In [19]:
data[data.profit == data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [20]:
# Add answer in the dictionary
answers['7'] = '5. The Lone Ranger (tt1210819)'
# correct

In [21]:
data[data.profit == data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [22]:
# Add answer in the dictionary
answers['8'] = '1. 1478'
# correct

In [23]:
data[data.profit > 0].imdb_id.count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [24]:
# Add answer in the dictionary
answers['9'] = '4. The Dark Knight (tt0468569)'
# correct

In [25]:
data_9 = data[data.release_year == 2008]
data_9[data_9.revenue == data_9.revenue.max()].original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [26]:
# Add answer in the dictionary
answers['10'] = '5. The Lone Ranger (tt1210819)'
# correct

In [27]:
data_10 = data[
    (data.release_year == 2012) |
    (data.release_year == 2013) |
    (data.release_year == 2014)
    ]
data_10[data_10.profit == data_10.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [28]:
# Add answer in the dictionary
answers['11'] = '3. Drama'
# correct

In [29]:
data['sep_genres'] = data.genres.str.split('|')
data_11 = data.explode('sep_genres')   # Get a dataframe with separated genres

data_11.sep_genres.value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: sep_genres, dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [30]:
# Add answer in the dictionary
answers['12'] = '1. Drama'
# correct

In [31]:
# Use dataframe, obtained at the previous step
data_11[data_11.profit > 0].sep_genres.value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: sep_genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [32]:
# Add answer in the dictionary
answers['13'] = '5. Peter Jackson'
# correct

In [33]:
data['sep_director'] = data.director.str.split('|')
data_13 = data.explode('sep_director')

data_13.groupby(['sep_director']).revenue.sum().sort_values(ascending=False)

sep_director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [34]:
# Add answer in the dictionary
answers['14'] = '3. Robert Rodriguez'
# correct

In [35]:
data_14 = data[data.genres.str.contains('Action')]
Counter(data_14.director.str.cat(sep='|').split('|')).most_common(1)

[('Robert Rodriguez', 9)]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [36]:
# Add answer in the dictionary
answers['15'] = '3. Chris Hemsworth'
# correct

In [37]:
data['sep_cast'] = data.cast.str.split('|')
data_15 = data.explode('sep_cast') # Get a dataframe with separated cast

data_15[data_15.release_year == 2012].groupby(['sep_cast'])['revenue'].sum().sort_values(ascending=False)

sep_cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [38]:
# Add answer in the dictionary
answers['16'] = '3. Matt Damon'
# correct

In [39]:
# Use dataframe, obtained at the previous step
data_15[data_15.budget > data_15.budget.mean()].sep_cast.value_counts()

Matt Damon             18
Adam Sandler           17
Angelina Jolie         16
Tom Cruise             15
Samuel L. Jackson      15
                       ..
Robert Sheehan          1
Laurie Metcalf          1
Matthew Macfadyen       1
Deborra-Lee Furness     1
Ryan Gosling            1
Name: sep_cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [40]:
# Add answer in the dictionary
answers['17'] = '2. Action'
# correct

In [41]:
data_17 = data[data.cast.str.contains('Nicolas Cage')]
Counter(data_17.genres.str.cat(sep='|').split('|')).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [42]:
# Add answer in the dictionary
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'
# correct

In [43]:
data_18 = data[data.production_companies.str.contains('Paramount Pictures')]
data_18[data_18.profit == data_18.profit.min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [44]:
# Add answer in the dictionary
answers['19'] = '5. 2015'
# correct

In [45]:
data.groupby(['release_year']).revenue.sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [46]:
# Add answer in the dictionary
answers['20'] = '1. 2014'
# correct

In [47]:
data_20 = data[data.production_companies.str.contains('Warner Bros')]
data_20.groupby(['release_year']).profit.sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [48]:
# Add answer in the dictionary
answers['21'] = '4. Сентябрь'
# correct

In [49]:
data_21 = data[['imdb_id', 'release_date']].copy()
data_21.release_date = pd.to_datetime(data_21.release_date)
data_21['month'] = data_21.release_date.dt.month
data_21.month.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [50]:
# Add answer in the dictionary
answers['22'] = '2. 450'
# correct

In [51]:
data_22 = data[['original_title', 'release_date']].copy()
data_22.release_date = pd.to_datetime(data_22.release_date)

data_22['month'] = data_22.release_date.dt.month
data_22[(data_22.month == 6) | (data_22.month == 7) | (data_22.month == 8)].original_title.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [52]:
# Add answer in the dictionary
answers['23'] = '5. Peter Jackson'
# correct

In [53]:
data_23 = data[['imdb_id', 'release_date', 'director']].copy()
data_23['director_23'] = data_23.director.str.split('|')
data_23 = data_23[['imdb_id', 'release_date', 'director', 'director_23']].explode('director_23')

data_23.release_date = pd.to_datetime(data_23.release_date)
data_23['month'] = data_23.release_date.dt.month

pivot_table_23 = data_23.loc[data_23.month.isin(['1', '2', '12'])].pivot_table(
    values=['imdb_id'], 
    index=['month'], 
    columns=['director_23'], 
    aggfunc='count', 
    margins=True, 
    fill_value=0
    )

pivot_table_23.max().sort_values(ascending=False).head()

         director_23
imdb_id  All                  471
         Peter Jackson          7
         Steven Soderbergh      6
         Clint Eastwood         6
         Martin Scorsese        4
dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [54]:
# Add answer in the dictionary
answers['24'] = '5. Four By Two Productions'
# correct

In [55]:
data_24 = data[['original_title', 'production_companies']].copy()
data_24['company'] = data_24.production_companies.str.split('|')
data_24 = data_24.explode('company')

data_24['len_title'] = data_24.original_title.apply(lambda x: len(x))

data_24.groupby(['company'])['len_title'].mean().sort_values(ascending=False)

company
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: len_title, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [56]:
# Add answer in the dictionary
answers['25'] = '3. Midnight Picture Show'
# correct

In [57]:
data_25 = data[['imdb_id', 'overview', 'production_companies']].copy()
data_25['company'] = data_25.production_companies.str.split('|')
data_25 = data_25.explode('company')

data_25['len_overview'] = data_25.overview.apply(lambda x: len(x))

data_25.groupby(['company'])['len_overview'].mean().sort_values(ascending=False)

company
Midnight Picture Show                    1000.0
Room 9 Entertainment                      964.0
Brookwell-McNamara Entertainment          936.0
Lions Gate Family Entertainment           909.0
Crest Animation Productions               909.0
                                          ...
Projection Pictures                        74.0
London Boulevard                           74.0
Phantom Four                               72.0
Empire Pictures                            62.0
Motion Picture Corporation of America      59.0
Name: len_overview, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [58]:
# Add answer in the dictionary
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'
# correct

In [59]:
data_26 = data[['original_title', 'vote_average']].copy()
limit = np.quantile(data_26.vote_average, 0.99)
data_26[data_26.vote_average > limit]

                                     original_title  vote_average
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
119                         Guardians of the Galaxy           7.9
125                              The Imitation Game           8.0
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
599                                 The Dark Knight           8.1
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1183                        The Wolf of Wall Street           7.9
1191                               12 Years a Slave           7.9
1800                                        Memento           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [60]:
# Add answer in the dictionary
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'
# correct

In [61]:
data_27 = data[['original_title', 'cast']].copy()
data_27['sep_cast'] = data_27.cast.str.split('|')

# Obtain a nested list
list_27 = []
for small_list in data_27.sep_cast:
    comb = combinations(small_list, 2)
    pairs = [', '.join(i) for i in comb]
    list_27.append(pairs)

# Obtain a simple list
list_27_2 = []
for pairs in list_27:
    for pair in pairs:
        list_27_2.append(pair)

# Obtain dictionary
# Key is a pair of actors, and value is a number of films, where they acted together
dict_27 = {}
for pair in list_27_2:
    if pair in dict_27:
        continue
    else: 
        dict_27[pair] = 0
        
for pair in list_27_2:
    dict_27[pair] += 1

# Search max number of films and a key for this value
max_value = max(dict_27.values())
final_dict = {key: value for key, value in dict_27.items() if value == max_value}
final_dict

{'Daniel Radcliffe, Rupert Grint': 8, 'Daniel Radcliffe, Emma Watson': 8}

# Submission

In [62]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [63]:
# и убедиться что ни чего не пропустил)
len(answers)

27